.log-display {
  height: 50%
}

.log-item {
  cursor: pointer;
}

.log-body {
  overflow: scroll;
}

.log-item:hover {
  background-color: rgb(158, 207, 250);
}

.accordion-header {
  display: flex;
  justify-content: space-between;
}

.accordion-quest-count {}