.char-sheet-container {
  height: 50%;
}

.character-sheet-header {
  /* display: flex;
  flex-direction: row; */
}

.character-sheet-body {
  display: flex;
  flex-direction: column;
  overflow: scroll;
}

.character-edit-button {
  /* padding: 3px; */
  align-self: flex-end;
}

.character-edit-button:hover {
  /* padding: 3px; */
  align-self: flex-end;
  background-color: grey;
  color: white;
}

.char-sheet-name {
  padding-top: 0.375rem;
  padding-right: 0.75rem;
  padding-bottom: 0.375rem;
  padding-left: 0.75rem;
  border: 1px solid transparent;
  box-sizing: border-box;
}

.char-sheet-desc {
  padding-top: 0.375rem;
  padding-right: 0.75rem;
  padding-bottom: 0.375rem;
  padding-left: 0.75rem;
  border: 1px solid transparent;
  box-sizing: border-box;
}

.character-edit-accept {
  align-self: flex-start;
}

.character-detail-quests {
  text-decoration: none;
  color: black;
  border: 1px solid black;
}

.character-detail-quests:hover {
  /* background-color: rgb(158, 207, 250); */
  background-color: #c3e6cb;
  text-decoration: none;
  color: black;
  /* border: 1px solid black; */
}