.card {
  border-radius: 0
}

.card-header {
  color: black;
  font-family: 'Marcellus SC', cursive;
}

.character-writing {
  font-family: 'Arial', cursive;
  font-weight: lighter;
}

.character-writing-title {
  /* font-family: 'Permanent Marker', cursive; */
  font-family: 'Marcellus SC', cursive;
  font-weight: bolder;
  font-variant: small-caps;
  font-size: 1.2em;
}

body {
  font-family: 'Arial', cursive;
}

.btn {
  font-family: 'Marcellus SC', cursive;
}