.quest-container {
  padding: 0;
  margin: 0;
  height: 100%;
  background-color: olivedrab
}

.log-sidebar {
  display: flex;
  flex-flow: column wrap;
  background-color: steelblue;
  margin: 0;
  padding: 0;
  min-height: 100%;
}

.log-sidebar>* {
  flex: 0 0 50%;
}

.quest-display {
  padding: 0;
  margin: 0;
}

.quest-list-container, .quest-details-container, .quest-form-container {
  height: 100%;
}

.quest-details-body, .quest-list-body, .quest-form-body {
  height: 100%;
}

.quest-card-header {
  /* background-color: gray;
  color: white;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: center; */
}

.quest-card {}