.actionbar-container {
  /* clear: both; */
  position: sticky;
  height: 50;
  margin-top: -50;
}

.action-bar-spot {
  border: 1px solid black;
  height: 60px;
  /* box-shadow:  */
  padding: 0;
}

.action-bar-spot .btn, .action-bar-spot .dropup {
  box-sizing: border-box;
  border: 3px solid black;
  border-radius: 1px;
  color: black;
  height: 100%;
  width: 100%;
  background-color: ghostwhite;
  border: 0;
  padding: 0;
}

.action-bar-spot .btn:hover, .action-bar-spot .dropup:hover {
  background-color: grey;
  color: white;
}